* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 14px;
    color: #d6f5f0;
}

#main-window {
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

#workspaces {
    border-radius: 5px;
}

#workspaces > button {
    border: solid 1px #d6f5f0;
    border-radius: 2px;
}
#workspaces > button > label {
    color: #d6f5f0;
    font-size: 12px;
    font-weight: normal;
}
#workspaces > button.active {
    background-color: #d6f5f0;
}
#workspaces > button.active > label {
    color: #233c2a;
    font-weight: 900;
}
#workspaces > button.empty {
    border-color: alpha(#d6f5f0, 0.4);
}
#workspaces > button.empty > label {
    color: alpha(#d6f5f0, 0.4);
}

#power-window {
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    /* min-width: 28px; */
    padding: 8px;
}

#shut-down-button,
#reboot-button,
#logout-button {
    border-radius: 2px;
    padding: 7px 12px;
    background-color: #32de8a;
    border-radius: 2px;
}
#shut-down-button {
    background-color: #de6e32;
}

#shut-down-button > label,
#reboot-button > label,
#logout-button > label {
    color: #233c2a;
    font-weight: 900;
    margin-right: 4px;
}

#shut-down-button > label {
    color: #d6f5f0;
}

#time-container {
    background-color: #122114;
    border: 1px solid alpha(#d6f5f0, 0.4);
    border-radius: 2px;
    padding: 8px;
}
#time-separator {
    font-size: 14px;
}
#time-separator.day {
    margin: 0px 0px 0px -5px;
}
#time-separator.night {
    margin: 0px 0px 0px -2px;
}

#module-separator {
    margin: 14px 12px;
    padding: 1px;
    background-color: alpha(#d6f5f0, 0.4);
}

#run-button {
    transition: background-color 0.6s cubic-bezier(0.2, 0.0, 0, 1.0);
    padding: 10px;
    background-color: #a2e8dd;
    border-radius: 2px;
}
#run-button > image {
    margin: -1px 0px;
}

#run-button:hover {
    background-color: #32de8a;
}

#power-button {
    transition: background-color 0.6s cubic-bezier(0.2, 0.0, 0, 1.0);
    padding: 9px;
    background-color: #32de8a;
    border-radius: 2px;
}

#power-button:hover {
    background-color: #de6e32;
}
